<div class="brand-contact<%= typeof contactVariant ? ' brand-contact--' + contactVariant : '' %>">
  <span class="brand-contact-item">
    <span class="brand-contact-label">Tel:</span>
    <a href="tel:<%= appPhone %>"><%= appPhone %></a>
  </span>
  <span class="brand-contact-item">
    <span class="brand-contact-label">Email:</span>
    <a href="mailto:<%= appEmail %>"><%= appEmail %></a>
  </span>
</div>
